<div class="container-fluid">
  <div class="content-section">
    <div class="row">
      <div class="col-6">
        <h5>{{ title }}</h5>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-outline-dark float-right" (click)="onRoute(false)">
          <i class="fa fa-plus-square"></i> Add User
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <table datatable class="row-border hover">
          <thead class="custom-table-head">
          <tr>
            <th style="min-width: 100px;">NAME</th>
            <th style="min-width: 100px;">EMAIL</th>
            <th style="min-width: 100px;">USERNAME</th>
            <th style="min-width: 100px;">ROLE LEVEL</th>
            <th style="min-width: 150px;">NO OF TASKS</th>
            <th style="min-width: 100px;">ACTIONS</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.roleLevel ? user.roleLevel : 'Admin'  }}</td>
            <td>{{ user.noOfTasks ? user.noOfTasks: 0 }}</td>
            <td>
              <i class="fa fa-edit" style="cursor: pointer" (click)="onRoute(true)"></i> |
              <i class="fa fa-trash" style="cursor: pointer"></i> |
              <i class="fa fa-eye" style="cursor: pointer" (click)="getUserTasks()"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
